<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haoyu.dao.MesChistoryMapper" >
  <resultMap id="BaseResultMap" type="com.haoyu.model.MesChistory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="chistory_factoryid" property="chistoryFactoryid" jdbcType="INTEGER" />
    <result column="chistory_step" property="chistoryStep" jdbcType="VARCHAR" />
    <result column="chistory_time" property="chistoryTime" jdbcType="TIMESTAMP" />
    <result column="chistory_goal" property="chistoryGoal" jdbcType="VARCHAR" />
    <result column="chistory_result" property="chistoryResult" jdbcType="VARCHAR" />
    <result column="chistory_storageid" property="chistoryStorageid" jdbcType="INTEGER" />
    <result column="chistory_remark" property="chistoryRemark" jdbcType="VARCHAR" />
    <result column="chistory_status" property="chistoryStatus" jdbcType="INTEGER" />
    <result column="chistory_operator" property="chistoryOperator" jdbcType="VARCHAR" />
    <result column="chistory_operate_time" property="chistoryOperateTime" jdbcType="TIMESTAMP" />
    <result column="chistory_operate_ip" property="chistoryOperateIp" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, chistory_factoryid, chistory_step, chistory_time, chistory_goal, chistory_result, 
    chistory_storageid, chistory_remark, chistory_status, chistory_operator, chistory_operate_time, 
    chistory_operate_ip
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mes_chistory
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mes_chistory
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.haoyu.model.MesChistory" >
    insert into mes_chistory (id, chistory_factoryid, chistory_step, 
      chistory_time, chistory_goal, chistory_result, 
      chistory_storageid, chistory_remark, chistory_status, 
      chistory_operator, chistory_operate_time, 
      chistory_operate_ip)
    values (#{id,jdbcType=INTEGER}, #{chistoryFactoryid,jdbcType=INTEGER}, #{chistoryStep,jdbcType=VARCHAR}, 
      #{chistoryTime,jdbcType=TIMESTAMP}, #{chistoryGoal,jdbcType=VARCHAR}, #{chistoryResult,jdbcType=VARCHAR}, 
      #{chistoryStorageid,jdbcType=INTEGER}, #{chistoryRemark,jdbcType=VARCHAR}, #{chistoryStatus,jdbcType=INTEGER}, 
      #{chistoryOperator,jdbcType=VARCHAR}, #{chistoryOperateTime,jdbcType=TIMESTAMP}, 
      #{chistoryOperateIp,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.haoyu.model.MesChistory" >
    insert into mes_chistory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="chistoryFactoryid != null" >
        chistory_factoryid,
      </if>
      <if test="chistoryStep != null" >
        chistory_step,
      </if>
      <if test="chistoryTime != null" >
        chistory_time,
      </if>
      <if test="chistoryGoal != null" >
        chistory_goal,
      </if>
      <if test="chistoryResult != null" >
        chistory_result,
      </if>
      <if test="chistoryStorageid != null" >
        chistory_storageid,
      </if>
      <if test="chistoryRemark != null" >
        chistory_remark,
      </if>
      <if test="chistoryStatus != null" >
        chistory_status,
      </if>
      <if test="chistoryOperator != null" >
        chistory_operator,
      </if>
      <if test="chistoryOperateTime != null" >
        chistory_operate_time,
      </if>
      <if test="chistoryOperateIp != null" >
        chistory_operate_ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="chistoryFactoryid != null" >
        #{chistoryFactoryid,jdbcType=INTEGER},
      </if>
      <if test="chistoryStep != null" >
        #{chistoryStep,jdbcType=VARCHAR},
      </if>
      <if test="chistoryTime != null" >
        #{chistoryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="chistoryGoal != null" >
        #{chistoryGoal,jdbcType=VARCHAR},
      </if>
      <if test="chistoryResult != null" >
        #{chistoryResult,jdbcType=VARCHAR},
      </if>
      <if test="chistoryStorageid != null" >
        #{chistoryStorageid,jdbcType=INTEGER},
      </if>
      <if test="chistoryRemark != null" >
        #{chistoryRemark,jdbcType=VARCHAR},
      </if>
      <if test="chistoryStatus != null" >
        #{chistoryStatus,jdbcType=INTEGER},
      </if>
      <if test="chistoryOperator != null" >
        #{chistoryOperator,jdbcType=VARCHAR},
      </if>
      <if test="chistoryOperateTime != null" >
        #{chistoryOperateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="chistoryOperateIp != null" >
        #{chistoryOperateIp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.haoyu.model.MesChistory" >
    update mes_chistory
    <set >
      <if test="chistoryFactoryid != null" >
        chistory_factoryid = #{chistoryFactoryid,jdbcType=INTEGER},
      </if>
      <if test="chistoryStep != null" >
        chistory_step = #{chistoryStep,jdbcType=VARCHAR},
      </if>
      <if test="chistoryTime != null" >
        chistory_time = #{chistoryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="chistoryGoal != null" >
        chistory_goal = #{chistoryGoal,jdbcType=VARCHAR},
      </if>
      <if test="chistoryResult != null" >
        chistory_result = #{chistoryResult,jdbcType=VARCHAR},
      </if>
      <if test="chistoryStorageid != null" >
        chistory_storageid = #{chistoryStorageid,jdbcType=INTEGER},
      </if>
      <if test="chistoryRemark != null" >
        chistory_remark = #{chistoryRemark,jdbcType=VARCHAR},
      </if>
      <if test="chistoryStatus != null" >
        chistory_status = #{chistoryStatus,jdbcType=INTEGER},
      </if>
      <if test="chistoryOperator != null" >
        chistory_operator = #{chistoryOperator,jdbcType=VARCHAR},
      </if>
      <if test="chistoryOperateTime != null" >
        chistory_operate_time = #{chistoryOperateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="chistoryOperateIp != null" >
        chistory_operate_ip = #{chistoryOperateIp,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.haoyu.model.MesChistory" >
    update mes_chistory
    set chistory_factoryid = #{chistoryFactoryid,jdbcType=INTEGER},
      chistory_step = #{chistoryStep,jdbcType=VARCHAR},
      chistory_time = #{chistoryTime,jdbcType=TIMESTAMP},
      chistory_goal = #{chistoryGoal,jdbcType=VARCHAR},
      chistory_result = #{chistoryResult,jdbcType=VARCHAR},
      chistory_storageid = #{chistoryStorageid,jdbcType=INTEGER},
      chistory_remark = #{chistoryRemark,jdbcType=VARCHAR},
      chistory_status = #{chistoryStatus,jdbcType=INTEGER},
      chistory_operator = #{chistoryOperator,jdbcType=VARCHAR},
      chistory_operate_time = #{chistoryOperateTime,jdbcType=TIMESTAMP},
      chistory_operate_ip = #{chistoryOperateIp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>