<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haoyu.dao.MesFhistoryCustomerMapper" >
  <resultMap id="BaseResultMap" type="com.haoyu.model.MesFhistory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fhistory_factoryid" property="fhistoryFactoryid" jdbcType="INTEGER" />
    <result column="fhistory_step" property="fhistoryStep" jdbcType="VARCHAR" />
    <result column="fhistory_starttime" property="fhistoryStarttime" jdbcType="TIMESTAMP" />
    <result column="fhistory_endtime" property="fhistoryEndtime" jdbcType="TIMESTAMP" />
    <result column="fhistory_remark" property="fhistoryRemark" jdbcType="VARCHAR" />
    <result column="fhistory_operator" property="fhistoryOperator" jdbcType="VARCHAR" />
    <result column="fhistory_operate_time" property="fhistoryOperateTime" jdbcType="TIMESTAMP" />
    <result column="fhistory_operate_ip" property="fhistoryOperateIp" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fhistory_factoryid, fhistory_step, fhistory_starttime, fhistory_endtime, fhistory_remark, 
    fhistory_operator, fhistory_operate_time, fhistory_operate_ip
  </sql>
  <!-- 根据factoryid返回具体生产记录细节 -->
  <select id="selectFhistorysInfoById" parameterType="map" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List"></include>
  	from mes_fhistory where fhistory_factoryid = #{id}
  </select>
  <select id="selectFhistoryByFidAndStep" parameterType="map" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List"></include>
  	from mes_fhistory where fhistory_factoryid = #{id} and fhistory_step=#{stepName} order by id desc limit 0,1
  </select>
  
</mapper>